.btn11 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.btnnn {
    background-color: transparent;
    color: red;
    border: none;
    outline: none;
}
.h33 {
    color: white;
}
.p33 {
    color: white;
    font-size: 16px;
}
.sub-compo img {
    width: 80px;
}
.sub-compo {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.realblackcompo {
    width: 500px;
    display: flex;
    /* background-color: green; */
    justify-content: space-between;
}